.navbar {
  #navbarSupportedContent {
    .navbar-nav {
      .nav-item {
        .active {
          background-color: $cg-secondary;
          border-radius: 10px;
        }
        &:hover {
          background-color: $cg-secondary;
          border-radius: 10px;
        }
      }
    }
  }
}
