/*=============================
=            GLOBALS            =
=============================*/

@import 'global';

/*=====  End of GLOBALS  ======*/

/*=======================================
=            HEADER & FOOTER            =
=======================================*/
@import 'headers/header-general';
/*=====  End of HEADER & FOOTER  ======*/

/** THE BODY ===========================  */

ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px !important;
}
.container {
  margin-bottom: 6.5rem;
}
.container-body {
  background-color: slategray;
  border-radius: 10px;
  color: white;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: lighten($color: $cg-secondary, $amount: 40%);
  }
  p {
    color: lighten($color: $cg-secondary, $amount: 55%);
  }
}

#home-main {
  .hero-img {
    // box-shadow: 3px 3px 8px black;
    @media (max-width: 450px) {
      margin-top: -2rem;
    }
  }
  .description {
    padding: 2rem;
    background-color: darken($color: $cg-primary, $amount: 20%);

    img {
      padding-right: 2rem;
      padding-bottom: 2rem;
      padding-top: 1rem;
    }
    .badge {
      font-size: 1.2rem;
      // box-shadow: 3px 3px 8px black;
      text-shadow: 4px 4px 8px black;
    }
    i.fa-star {
      color: tomato;
      text-shadow: 3px 3px 8px black;
      font-size: 1.5rem;
    }
    .btn {
      padding: 1rem 3rem;
      border-radius: 50px;
      margin-top: 2rem;
      box-shadow: 3px 3px 8px black;
    }
  }
}
#movie-main {
  nav {
    .nav {
      .active {
        background-color: darken($color: $cg-primary, $amount: 25%);
      }
      .nav-item {
        background-color: darken($color: $cg-primary, $amount: 10%);
        border-radius: 10px;
        margin-left: 0.3rem;
        .nav-link {
          color: white;
        }
        &:hover {
          background-color: darken($color: $cg-primary, $amount: 25%);
        }
      }
    }
    @media (max-width: 450px) {
      margin: 0 auto !important;
    }
  }
  #movie-main-search-list {
    // border: 1rem solid red;
    .form-holder {
      background-color: darken($color: $cg-primary, $amount: 25%);
      .search-form {
        padding: 1rem 1rem;
      }
    }
    .movie-list {
      // border: 1rem solid red;
      margin-top: 1rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      background-color: darken($color: $cg-primary, $amount: 25%);

      .movie-item {
        list-style: none;
        @media (max-width: 575px) {
          text-align: center;
          .badge {
            float: none !important;
          }
        }
        img {
          box-shadow: 5px 5px 10px black;
        }
        .text-box {
          margin-top: 1rem;

          .movie-title {
            font-weight: 300;
            text-shadow: 5px 5px 6px black;
          }
          .badge {
            margin-bottom: 1rem;
          }
          .badge-dark {
            background-color: darken($color: $cg-primary, $amount: 35%);
            padding: 0.5rem;
          }
        }
      }
    }
  }
}
//ACTION, DRAMA & COMEDY MOVIE LIST PAGE
.movie-category-list-container {
  .container-body {
    .badge {
      font-size: 1.2rem;
      text-shadow: 3px 3px 8px black;
    }
    .list-box {
      .list-item {
        margin-bottom: 2rem;
        list-style: none;
        box-shadow: 3px 3px 8px black;

        background-color: darken($color: $cg-primary, $amount: 20%);
        .poster-holder {
          .poster {
            padding-right: 5rem;
            @media (max-width: 992px) {
              float: none !important;
              padding-right: 0;
              margin-bottom: -3rem;
              margin-top: 3rem;
              box-shadow: 5px 5px 16px black;
            }
          }
        }
        .text-content {
          // border: 3px solid red;
          .content {
            padding: 5rem;
            @media (max-width: 450px) {
              padding: 2.5rem;
            }
            .title {
              font-size: 1.5rem;
              text-shadow: 3px 3px 8px black;
              @media (max-width: 450px) {
                padding-top: 1.5rem;
              }
            }
            .genre {
              font-weight: 300;
            }
            .btn-holder {
              .btn {
                box-shadow: 3px 3px 8px black;
                padding: 0.5rem 2rem;
                border-radius: 50px;
              }
              .btn-warning {
                padding: 0.8rem 1rem;
              }
            }
          }
        }
      }
    }
  }
}
