/*=============================
=            GLOBALS            =
=============================*/

@import 'global';

/*=====  End of GLOBALS  ======*/

/*=======================================
=            HEADER & FOOTER            =
=======================================*/
@import 'headers/header-general';
/*=====  End of HEADER & FOOTER  ======*/

/** THE BODY ===========================  */

ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px !important;
}
.container {
  margin-bottom: 6.5rem;
}
.container-body {
  background-color: slategray;
  border-radius: 10px;
  color: white;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: lighten($color: $cg-secondary, $amount: 40%);
  }
  p {
    color: lighten($color: $cg-secondary, $amount: 55%);
  }
}

#home-main {
  .hero-img {
    // box-shadow: 3px 3px 8px black;
    @media (max-width: 450px) {
      margin-top: -2rem;
    }
  }
  .description {
    padding: 2rem;
    background-color: darken($color: $cg-primary, $amount: 20%);

    img {
      padding-right: 2rem;
      padding-bottom: 2rem;
      padding-top: 1rem;
    }
    .badge {
      font-size: 1.2rem;
      // box-shadow: 3px 3px 8px black;
      text-shadow: 4px 4px 8px black;
    }
    i.fa-star {
      color: tomato;
      text-shadow: 3px 3px 8px black;
      font-size: 1.5rem;
    }
    .btn {
      padding: 1rem 3rem;
      border-radius: 50px;
      margin-top: 2rem;
      box-shadow: 3px 3px 8px black;
    }
  }
}
#movie-main {
  nav {
    // border: 3px solid red;
    .nav {
      .active {
        background-color: darken($color: $cg-primary, $amount: 25%);
      }
      .nav-item {
        background-color: darken($color: $cg-primary, $amount: 10%);
        border-radius: 10px;
        margin-left: 0.3rem;
        .nav-link {
          color: white;
        }
        &:hover {
          background-color: darken($color: $cg-primary, $amount: 25%);
        }
      }
    }
  }
}
//ACTION, DRAMA & COMEDY MOVIE LIST PAGE
.movie-category-list-container {
  .list-box {
    .list-item {
      margin-bottom: 2rem;
      list-style: none;
      box-shadow: 3px 3px 8px black;

      background-color: darken($color: $cg-primary, $amount: 20%);
      .poster-holder {
        .poster {
          padding-right: 5rem;
        }
      }
      .text-content {
        // border: 3px solid red;
        .content {
          padding: 5rem;
        }
      }
    }
  }
}

//USE THE FOLLOWING LATER FOR SEARCH LIST - MOVIE MAIN PAGE
.movie-list {
  .movie-item {
    box-shadow: 4px 4px 8px gray;
    margin-bottom: 1rem;
    list-style: none;
    // background-color: darken($color: $cg-secondary, $amount: 10%);
    // color: white;
  }
  // .slide-appear {
  //   opacity: 0;
  // }
  // .slide-appear.slide-appear-active {
  //   opacity: 1;
  //   transition: opacity 0.5s ease-in-out;
  // }
  // .slide-enter {
  //   transform: translateX(-100%);
  // }
  // .slide-enter.slide-enter-active {
  //   transform: translateX(0);
  //   transition: transform 0.5s ease-out;
  // }

  // .slide.leave {
  //   transform: translateX(0);
  // }
  // .slide-leave.slide-leave-active {
  //   transform: translateX(100%);
  //   opacity: 0;
  //   transition: 0.5s ease-in;
  // }
}
